<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kawung2011.labs.logmee" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kawung2011.labs.logmee.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.kawung2011.labs.logmee.SplashActivity"
            android:label="LogMee"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kawung2011.labs.logmee.ActCreateActivity"
            android:label="hehe" >
        </activity>
        <activity
            android:name="com.kawung2011.labs.logmee.LogAddImagesActivity"
            android:label="hehe" >
        </activity>
        <activity
            android:name="com.kawung2011.labs.logmee.LogAddAudioActivity"
            android:label="hhe" >
        </activity>
        <activity
            android:name="com.kawung2011.labs.logmee.ActViewActivity"
            android:label="hihi" >
        </activity>
        <activity
            android:name="com.kawung2011.labs.logmee.LogCreateActivity"
            android:label="hoho" >
        </activity>

        <receiver android:name="com.kawung2011.labs.logmee.LogMeeAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/log_mee_app_widget_info" />
        </receiver>
    </application>

</manifest>
